/*
Project Name: Aurora's Simple Recipes
Client: Me
Author: Matthew O'Reilly
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: white	;
  width: 100%;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: white;
}

#home{
  margin-left: 10%;
}

#contactimg{
  padding-left: 5%;
  padding-right: 5%;
}

.first-third{
	width: 31%;
	position: relative;
	float: left;
}

.one-third{
	position: relative;
	float: left;
	padding-left: 2%;
	width: 31%;
}

footer{
  height: 400px;
  color: white;
  background: linear-gradient(0deg, rgba(2,173,231,0.5), rgba(2,173,231,0.5)), url(../images/footer.jpg) repeat;
  background-position: 50% 70%;
  width: 105%;
  text-align: center;
  padding: 2%;
}

footer ul{
  list-style: none;
  padding-top: 15%;
  font-style: italic;
  font-size: .85em;
}

footer h2{
  text-decoration: underline;
}

footer a{
  color: white;
}

footer img{
  padding-top: 2%;
}

footer p{
  font-size: .65em;
  padding-top: .15%;
}

footer ul li{
  padding: 2%;
}

footer ul li ul li a{
  font-size: 1.1em;
}

footer ul li ul li{
  font-size: 1.1em;
}

footer ul li:first-child{
  padding: 0;
}

footer ul li ul{
  padding-top: 1%;
  padding-left: 12%;
  padding-bottom: 0;
}
.footimage{
  border-radius: 50%;
}

#form-container{
  background: white;
  text-align: center;
  padding-bottom: 5%;
}

#settings-form fieldset legend{
  color: #676;
  text-decoration: underline;
  font-family: 'Handlee', cursive;
  font-weight: 600;
  padding-bottom: 2%;
  padding-top: 1%;
  font-size: 1.2em;
}

#settings-form label{
  color: #676;
  font-family: 'Handlee', cursive;
  font-weight: 300;
  padding-bottom: 1.2%;
  font-size: .8em;
}

#space{
  padding: 1%;
}

#reason{
  height: 50px;
  text-align: top;
  width: 250px;
}

.form-btn{
  width: 20%;
  height: 50px;
  font-size: 1em;
  background: #676;
  color: white;
  font-family: 'Handlee', cursive;
}

.form-btn:hover{
  color: #676;
  background: white;
  cursor: pointer;
}

@media screen and (max-width: 1250px) and (min-width: 1000px){

.inside-pic h2{
  font-size: 1.1em;
}

.first-quarter .inside-pic{
  top: bottom;
}
.one-quarter .inside-pic{
  top: bottom;
}

header{
  font-size: .7em;  
  padding-top: 3%;
}

footer{
  height: 350px;
}


footer img{
  height: 125px;
}

footer p{
  font-size: .65em;
  padding-top: .15%;
}

footer ul li a{
  font-size: .85em;
}

footer ul li ul li a{
  font-size: .85em;
}

footer ul li ul li{
  font-size: .85em;
}

footer ul li:first-child{
  padding: 0;
}

footer ul li ul{
  padding-top: 1%;
  padding-left: 12%;
  padding-bottom: 0;
}

}

@media screen and (max-width: 1000px) and (min-width: 768px){

#sub-form label{
font-size: .75em;
}

#subscribe{
  width: 10%;
  font-size: .4em;
}
header{
  font-size: .7em;  
  padding-top: 3%;
}


footer{
  height: 150px;
  font-size: .85em;
}
}

@media screen and (max-width: 768px){

nav{
  width: 100%;
}


#header nav li{
  float: none;
}



footer{
  height: 150px;
  font-size: .85em;
}

}


