/*
Project Name: Aurora's Simple Recipes
Client: Me
Author: Matthew O'Reilly
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #043049;
  font-size: 26px;
  line-height: 1.4;
  color: #606161;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: white	;
  width: 100%;
}
a {
  text-decoration: none;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: white;
}

#sub-form{
  text-align: center;
  width: 100%;
  position: fixed;
  background: #676;
  padding-top: 4px;
  padding-bottom: .5%;
  z-index: 9999;
}

form label{
  color: white;
  text-align: bottom;
  font-weight: 800;
  padding-right: 22px;
  margin: 0;
  width: 60%;;
}

#sub-list{
  width: 25%;
  font-style: italic;
  font-weight: lighter;
  color: gray;
}

#subscribe{
  background: maroon;
  color: white;
  height: 30px;
  width: 15%;
  font-weight: 800;
  font-size: .5em;
}

#subscribe:hover{
  background:white;
  color:red;
  cursor: pointer;
}
header{
	margin:	0 auto;
	font-family: 'Handlee', cursive;	
	margin-right: 0;
}

header>.wrap{
	width: auto;
	min-width: 0;
	max-width: none;
	padding-left: 20%;
}
#inside{
	text-align: center;
	padding-top: 5%;
}

#first{
	float: left;
	width: 30%;
	display: block;
	margin-top: 4.5%;
}

#logo{
	float: left;
	display: block;
	text-align: center;
	width: 15%;
}

#second{
	float: left;
	width: 30%;
	display: block;
	margin-top: 4.5%;
}

nav ul{
	list-style: none;
}

nav ul li{
	display: inline-block;
	text-transform: uppercase;
	font-size: .65em;
	padding: 2% 7%;
}

nav ul li:first-child{
	padding-right: 10%;
}

nav a{
	color: #676;
}


nav a:hover,
nav a:active{
  font-size: 1.2em;
  text-decoration: underline;
}

nav ul li ul{
  position: absolute;
  font-size: 1em;
  padding: 5px;
  background: white;
}

nav ul li ul li{
  display: block;
  position: relative;
  color: #676;
  padding: 5px;
}

ul .dropmenu{
  display: none;
}

ul .dropmenu:hover{
  display: inline-block;
}

#slogan{
	text-align: center;
	color: #676;
	font-family: 'Cormorant Garamond', serif;
	margin-right: -3%;
	font-size: .75em;
}

#main {
  background: white;
  height: 1300px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

#border{
	color: #676;
	font-weight: bold;
	line-height: 1.2em;
}

#posts {
  float: left;
  width: 60.6%;
  display: inline-block;
  vertical-align: top;
}
#side {
  float: right;
  width: 35%;
  display: inline-block;
  border-left: 4px solid white;
  margin-top: -3%;
}

.holder{
	border: 3px black;
}

.first-quarter{
	width: 25%;
	position: relative;
	float: left;
}


.one-quarter{
	position: relative;
	float: left;
	padding-left: 2%;
	width: 25%;
}

.border{
	border-bottom: 1px solid #676;
}

.food-header{
	font-size: .85em;
	text-align: left;
	padding-top: 2%;
	font-family: 'Cormorant Garamond', serif;
}

.see{
	font-family: 'Cormorant Garamond', serif;
	font-size: .75em;
	text-align: right;
}

.see a{
	color: #676;
}

.see a:hover{
	text-decoration: underline;
}

.break{
	border-bottom: 3px #676;
}

.image{
	position: relative;
	width: 100%;
}

.inside-pic {
	position: absolute; 
    top: 73%; 
    left: 0; 
    font-size: .5em;
    color: white;
    background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
    text-align: center;
    overflow: wrap;
    width: 100%; 
}

.inside-pic span{
   letter-spacing: 2px;  \
   padding: 10px; 
   width: 100%;
}

.inside-pic h2{
	font-size: 1.5em;
	font-family: 'Cormorant Garamond', serif;
	text-decoration: underline;
	font-weight: 300i 
}

.inside-pic p{
	font-size: .85em;
	color: white;
	font-style: italic;
	padding-top: 1%;
	padding-bottom: 1%;
}

.inside-pic a{
	color: white;
	font-style: italic;
	text-decoration: underline;
}
.bttn{
	background: #676;
	color: white;
	font-family: 'Handlee', cursive;
	font-size: .8em;
	padding: 2%;
	width: 20%;
}
#dishes{
	color: #676;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	padding-left: 28%;
	padding-top
	font-size: 3em;
	text-decoration: underline;
	margin-top: 1%;
}

aside a{
	color: #676;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
	text-decoration: underline;
}

aside p{
	font-size: .65em;
	font-style: italic;
	font-family: 'Handlee', cursive;
}

aside button{
	margin-left: 60%;
}

#quick{
	padding-top: 3%;
}

#quick a{
	color: #676;
	padding-right: 5%;
	text-decoration: underline;
	font-family: 'Cormorant Garamond', serif;
}

#sides{
	padding-top: 3%;
}

#sides a{
	color: #676;
	padding-right: 5%;
	text-decoration: underline;
	font-family: 'Cormorant Garamond', serif;
}

#search-form label{
	color: #676;
	text-decoration: underline;
	font-size: .7em;
}

#search-form{
	padding: 3%;
}

.first-third{
	width: 31%;
	position: relative;
	float: left;
}


.one-third{
	position: relative;
	float: left;
	padding-left: 2%;
	width: 31%;
}

footer{
	height: 200px;
	color: white;
	background: linear-gradient(0deg, rgba(2,173,231,0.5), rgba(2,173,231,0.5)), url(../images/footer.jpg) repeat;
	background-position: 50% 70%;
	width: 105%;
	text-align: center;
	padding: 2%;
}

footer ul{
	list-style: none;
}
footer ul li{
	padding: 1%;
}
footer ul li:first-child{
	padding: 0;
}

@media screen and (max-width: 1250px) and (min-width: 1000px){

.inside-pic h2{
	font-size: 1.1em;
}

.first-quarter .inside-pic{
	top: bottom;
}
.one-quarter .inside-pic{
	top: bottom;
}

header{
	font-size: .7em;	
	padding-top: 3%;
}


}

@media screen and (max-width: 1000px) and (min-width: 768px){

#sub-form label{
font-size: .75em;
}

#subscribe{
  width: 10%;
  font-size: .4em;
}
header{
	font-size: .7em;	
	padding-top: 3%;
}

#main {
  height: 900px;
}

#side {
  margin-top: -6%;
}

.holder{
	height: 350px;
}
.inside-pic br{
	display: none;
}
.first-quarter .image .holder{
	height: 150px;
}
.one-quarter .image .holder{
	height: 150px;
}

.inside-pic {
    top: 66.7%; 
}

.inside-pic h2{
	font-size: .95em;
}

.first-quarter .inside-pic{
	top: 80%;
}
.one-quarter .inside-pic{
	top: 80%;
}

#side img{
	height: 70%;
}

#search-form label{
	font-size: .6em;
}


footer{
	height: 150px;
	font-size: .85em;
}
}

@media screen and (max-width: 768px){

nav{
	width: 100%;
}


#header nav li{
	float: none;
}

#main {
  height: 900px;
}

#side {
  margin-top: -6%;
}

.holder{
	height: 350px;
}
.inside-pic br{
	display: none;
}
.first-quarter .image .holder{
	height: 150px;
}
.one-quarter .image .holder{
	height: 150px;
}

.inside-pic {
    top: 66.7%; 
}

.inside-pic h2{
	font-size: 1.2em;
}

.first-quarter .inside-pic{
	top: 80%;
}
.one-quarter .inside-pic{
	top: 80%;
}

#side img{
	height: 70%;
}

#search-form label{
	font-size: .6em;
}

footer{
	height: 150px;
	font-size: .85em;
}

}


